* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  line-height: 2;
  background-color: #F0F8FF;
  color: #e5e6e8;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  background-color: #778899;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 1rem;
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
}
.header__logo a {
  color: #f7bb2b;
  text-decoration: none;
}

.header__nav {
  padding: 1rem;
  margin-right: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 3rem;
  font-weight: bold;
}

.header__nav a {
  color: #8B008B;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.footer {
  background-color: #778899;
  padding: 2rem;
  color: #8B008B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

/* INICIO */ 
main {
  width: 90%;
  flex: 1;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 4rem;
  margin: 3rem;
}

main .detalle-prod {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 2rem;
  width: 80%;
}

.productos-inicio {
  width: 100%;
  background-color: #F0F8FF;
}

.productos-inicio p {
  text-align: center;
  font-size: 3rem;
  padding: 3rem;
  margin: 3rem;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.tarjeta-producto {
  background-color: #20B2AA;
  padding: 2rem;
  border-radius: 2rem;
  width: 50rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* separacion */
  gap: 1rem;
}

.tarjeta-producto h4 {
  font-size: 3rem;
  font-weight: bold;
}

.tarjeta-producto p {
  font-size: 2rem;
}

.tarjeta-producto img {
  width: 100%;
  border-radius: 2rem;
}

/*Pagina de contactos*/

.seccion-contacto {
  width: 100%;

  margin: 2rem auto;
}

.titulo-contacto {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color: #8B008B;
  padding: 5rem;
  border-radius: 1rem;
  width: 60rem; 
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.campo-form label {
  font-size: 2rem;
}
.campo-form input,
.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
}

.form button {
  background-color: #8B008B;
  color: #20B2AA;
  border: none;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header__logo,
  .header__nav {
    margin: 0;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 80%;
  }
  .form {
    width: 60%;
    min-width: 700px;
  }

}
